<?php
/**
 * Simple config file, replace the vars with your own details
 */

$host = ''; // Hostname of n-central server
$user = ''; // username of user with api access
$pass = ''; // password of api user

use Solarwinds\Soap\ServerEI2SoapBindingImplService;

// Setup the service to talk to
$client = new ServerEI2SoapBindingImplService('https://' . $host . '/dms2/services2/ServerEI2?wsdl');
